
module php-fpm-mysql-socket 1.0;

require {
	type mysqld_port_t;
	type httpd_t;
	class tcp_socket name_connect;
	class process execmem;
}

#============= httpd_t ==============

#!!!! This avc is allowed in the current policy
allow httpd_t mysqld_port_t:tcp_socket name_connect;

#!!!! This avc is allowed in the current policy
allow httpd_t self:process execmem;
